body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background-color: #EEE;
    /*position: relative;*/
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*text-transform: uppercase;*/
    border: 0 none;
    font-size: 2em;
    color: #777777;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center>i {
    font-size: 7em;
    text-align: center;
}

.center div {
    text-align: center;
    padding: 5px;
}

.center>.c404{
    font-size: 4em;
}

.center > .not-found {
    font-size: 1.3em;
}
